body{
	overflow:hidden;
}

.toolbox{
	height: 30px;
	padding: 2px;
	width:100%;
	-webkit-border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
	padding: 6px 0px 2px 0px;
}

#tools-shadow{
	z-index: 998;
	background-color: #C0BDA6;
	top:2px;
	left:0px;
}

#tools{
	z-index: 999;
	left:0;
}

#tools div.toolbox-ph{
	list-style-image: none;
	list-style-type: none;
	margin:0px 3px 0px 3px;
	padding:0px 3px 0px 3px;
	position:relative;
	float:left;
}

#main{
    height: 500px; /* temporary */
    padding-right: 255px;
    position: relative;
}
#sidebar{
    font-family: Verdana; 
    font-size: 10px;
    position: absolute;
    width: 250px;
    top:0;
    right:0;
    border: 1px solid #999;
    height: 100%;
}

#layer_container{
    margin-top:10px;
}
.layer{
	margin: 5px;
	padding: 5px;
	cursor: pointer;
	border: 1px solid #bbb;
	background-color: #eee;
}
#layer_container .selected{
	background-color: #999;
	font-weight: bold;
	color: white;
	border-width: 2px;
}

.option{
	margin: 4px 10px;
	margin-bottom: 6px;
	
}
#options{
	margin-top:10px;
}
#option_container{
    margin-top:10px;
}

#canvii{
    cursor: crosshair;
    height:100%;
    width: 100%;
    position:relative;
    border: 1px solid black;
    overflow: hidden;
}

canvas{
  position: absolute;
  top:0;
  left:0;
}

#footer{
    border: 1px solid #ccc;
    background-color: #fafafa;
    margin-top: 3px;
}
